html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #041F31;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  padding: 3rem 0;
}

.header__title {
  font-weight: 700;
  font-size: 4rem;
}

.accordion {
  display: block;
  position: relative;
  font-weight: 500;
  transition: filter 1s ease-out;
}

.accordion__header {
  border-top: 2px solid aqua;
  border-radius: 2rem;
  font-size: 2rem;
  color: aqua;
  cursor: pointer;
  padding: 2rem;
  position: relative;
  z-index: 2;
  transition: color 0.5s ease-out, border-color 0.5s ease-out;
}

.accordion input:checked ~ .accordion__header {
  color: #fff;
  border-color: #eee;
}

.accordion__header:before, .accordion__header:after {
  background-color: #fff;
  content: '';
  position: absolute;
  z-index: 3;
  opacity: 0;
  transition: opacity 1s ease-out;
}
.accordion__header:before {
  height: 0.2rem;
  margin-top: -0.1rem;
  top: 50%;
  right: 2.1rem;
  width: 1rem;
}
.accordion__header:after {
  height: 1rem;
  margin-top: -0.5rem;
  top: 50%;
  right: 2.5rem;
  width: 0.2rem;
}

.accordion input:checked ~ .accordion__header:after {
  opacity: 0;
}

.accordion input {
  display: none;
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.accordion__img {
  object-fit: contain;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-out, transform 1s ease;
  box-sizing: border-box;
  transform: scale(0.95);
  cursor: pointer;
}

.accordion input:checked ~ .accordion__img {
  max-height: 50vh;
}

@media (hover: hover) {
  .accordion-section__container:hover .accordion__header:before,
  .accordion-section__container:hover .accordion__header:after {
    opacity: 1;
  }

  .accordion-section__container:hover .accordion__header {
    color: #fff;
    border-color: #eee;
  }

  .accordion:hover .accordion__header:after {
    opacity: 0;
  }

  .accordion:hover .accordion__img {
    max-height: 50vh;
  }
  
  .accordion__img:hover {
    transform: scale(1);
  }
}

.accordion:active {
  filter: blur(0.1rem);
}

.accordion:active .accordion__header {
  color: aqua;
  border-color: aqua;
}

.accordion:active input:checked ~ .accordion__header {
  color: aqua;
  border-color: aqua;
}

.accordion:active .accordion__header:before {
  background-color: aqua;
}

@media (max-width: 1180px) {
  .accordion__header:before,
  .accordion__header:after {
    opacity: 1;
  }

  .header__title {
    font-size: 3rem;
  }

  .accordion__header {
    cursor: default;
    font-size: 1.8rem;
    user-select: none;
  }

  .accordion__img {
    cursor: default;
  }
}

@media (max-width: 568px) {
  .header__title {
    font-size: 2.5rem;
  }

  .accordion__header {
    font-size: 1.6rem;
    padding-right: 4rem;
  }
}


